<!DOCTYPE html>
<html>
  <head>
    <title>BookManager :: <%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>
    <!-- Added in to help bootstrap scale top bar to mobile devices -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
		<!-- NAV BAR HERE -->

		
		<!-- MAIN CONTENT HERE -->
  	<%= yield %>


		<!-- FOOTER -->
		<footer class="footer">
	    <div class="container">
				<%= render :partial => "partials/footer" %>
	    </div>
	  </footer>
  </body>
</html>
